@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.about{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.about-image{ 
    width: 50%;
    height: 100%;
}

.about-image img{ 
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about-text{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    border: 2px dashed;
    margin-left: 2rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 100%;
}

.about-text h1{ 
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.about-text h4{ 
    color: rgb(102, 99, 99);
    line-height: 21px;
    width: 100%;
    font-family: 'Itim';
    word-spacing: 8px;
}

@media screen and (max-width:1200px){ 
    .about{ 
        display: flex;
        flex-direction: column;
    }
    .about-image{ 
        width: 100%;
    }
    .about-text{ 
        width: 100%;
        margin-top: 3rem;
        border: none;
    }
}